<!-- calendar.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Events Calendar - {{ month }}/{{ year }}</h2>
<table class="table">
    <!-- Table Headers -->
    <thead>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
    </thead>
    <tbody>
        <!-- Days -->
        {% for week in month_days %}
        <tr>
            {% for day in week %}
            <td>
                {% if day %}
                {{ day }}
                <!-- Display events for the day -->
                {% if events_by_day[day] %}
                <ul>
                    {% for event in events_by_day[day] %}
                    {% if event.event_type_id in [1,2,3,4] %}
                    {{ event.start_time.strftime('%H:%M') }} 
                    - {{ event.end_time.strftime('%H:%M')}} <br>
                    <b><a href="{{ url_for('events.detail', id=event.id)}}">{{ event.title }}</a><br></b>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td><a href="{{ url_for('events.show_calendar', year=prev.year, month=prev.month) }}">prev</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="{{ url_for('events.show_calendar', year=next.year, month=next.month) }}">next</a></td>
        </tr>
    </tfoot>
</table>
{% endblock %}