
{% extends 'base.html' %}

{% block content %}
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h1 class="card-title">{{ event.title }} {{event.start_date.strftime('%d.%m.%Y')}} </h1>
            <h2 class="card-subtitle">{{ event.start_time.strftime('%H:%M') }} - {{ event.end_time.strftime('%H:%M')}}
            {{ event.room.location.name }} {{ event.room.name }}</h2>
            <p class="card-text">
            <ul class="list-group">
                {% for sub_event in sub_events %}
                    <li class="list-group-item">{{ sub_event.title }} 
                        - {{ sub_event.start_time.strftime('%H:%M') }} 
                        - {{ sub_event.end_time.strftime('%H:%M')}}
                        {% if current_user.has_any_role('admin', 'conductor', 'choir board') %}
                        <a href="{{ url_for('events.edit_attendees', id=sub_event.id) }}">bearbeiten</a> {% endif %}
                        <ul>
                            {% for attendee in sub_event.attendees %}
                                <li class="list-group-item small">
                                    {{ attendee.person.vorname }} 
                                    {{ attendee.person.nachname }}
                                    {% if current_user.person.singer.id == attendee.id %}
                                        <a href="#" 
                                            class="remove" 
                                            id="remove-{{ sub_event.id}}"
                                            data-event-id="{{ sub_event.id}}"
                                            >entfernen</a>
                                    {% endif %}
                                </li>
                                <!-- Add other attendee details as needed -->
                            {% endfor %}
                            {% if current_user.person.singer.id not in sub_event.attendees|selectattr('person')|map(attribute='id') %}

                                <li class="list-group-item">
                                    <a href="#" class="add" 
                                        id="add-{{ sub_event.id}}" 
                                        data-event-id="{{ sub_event.id}}">mich hinzufügen</a>
                                </li>
                            {% endif %}   
                        </ul>
                    </li>
                    <!-- Add other event details as needed -->
                {% endfor %}
            </ul>
            </p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jsonrequest.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function handleAttendeeAction(event, path) {
                event.preventDefault();
                var eventId = event.target.dataset.eventId; 
                var attendee = {
                    event_id: eventId,
                    singer_id: {{ current_user.person.singer.id }}
                };
                sendJSONRequest(path, attendee, function(error, response) {
                    if (error) {
                        console.error('Error:', error);
                    } else {
                        console.log('Response:', response);
                        location.reload();
                    }
                });
                console.log('Clicked:', event.target.textContent);
                
            }
    
            var addRemoveLinks = document.querySelectorAll('.add, .remove');
            addRemoveLinks.forEach(function(link) {
                link.addEventListener('click', function(event) {
                    var path = '/events/' + (link.classList.contains('add') ? 'add_me' : 'remove_me');
                    handleAttendeeAction(event, path);
                });
            });
        });
    </script>
   
{% endblock %}