{% extends 'base.html' %}

{% block content %}
 
<!-- future_events.html -->
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>title</th>
            <th>Description</th>
            <th>Date</th>
            <th>Starttime</th>
            <th>Endime</th>
            <th>location</th>
        </tr>
    </thead>
    <tbody>
{% for event in events %}
    <tr>
        <th>{{ event.id }}</th>
        <th>{{ event.title}}</th>
        <th>{{ event.description}}</th>
        <th>{{ event.start_date }}</th>
        <th>{{event.start_time}}</th>
        <th>{{event.end_time}}</th>
        <th>{{ event.room.location.name }} {{ event.room.name }}</th>
    </tr>
{% endfor %}
    </tbody>
    </table>

 
{% endblock %}